.over-hidden{
  overflow: hidden;
}
.height100{
  height: 100%;
}
.width100{
  width: 100%;
}
.transition{
  transition: all .3s ease-in-out;
}
.circle{
  border-radius: 50%;
}
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.disappear{
  height: 0;
  width: 0;
  overflow: hidden;
}
.ml-10{
  margin-left: 10px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.min-height-400{
  min-height: 400px;
}
.img-viewer__overflow-unset {
  overflow: unset !important;
}
.el-image__no-box_shadow {
  box-shadow: none !important;
  img {
    box-shadow: none !important;
  }
}

/* transition */
.modal-enter-active, .modal-leave-active {
  transition: opacity .3s ease, transform .3s ease;
}

.modal-enter, .modal-leave-to {
  transform: translate(50px, 0), scale(.8);
  opacity: 0;
}

.modal-leave, .modal-enter-to {
  transform: translate(0, 0), scale(1);
  opacity: 1;
}

/* 导出的进度条的 */
.authorize-dialog.upload-dialog {
  .el-dialog__body {
    padding-bottom: 30px !important;
    .el-row__process {
      .el-steps.el-steps__upload-process {
        margin: 20px 0px;
        .el-step__title {
          font-size: 12px;
          line-height: 32px;
        }
      }

      .el-col {
        &.process-col_tips {
          width: 68%;
          margin-left: 32%;
          span {
            color: #303133;
            font-weight: bold;
            & + span {
              padding-left: 3%;
            }
          }
        }

        &.process-col_waiting {
          width: 60%;
          margin-left: 40%;
          color: #303133;
          font-weight: bold;
        }
      }
    }
  }
}

.el-dialog.upload-dialog__inner {
  .el-dialog__body {
    padding: 20px;
    .m-excel-download {
      float: none;
    }
  }
}