.over-hidden{
  overflow: hidden;
}
.height100{
  height: 100%;
}
.width100{
  width: 100%;
}
.transition{
  transition: all .3s ease-in-out;
}
.circle{
  border-radius: 50%;
}
main, footer{
  background: greenyellow;
}