@import "./common.scss", "element-ui/lib/theme-chalk/display.css";
html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
ul, li, div, p{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  vertical-align: middle;
}
a{
  text-decoration: none;
}
.el-header{
  padding: 0;
}
.el-dropdown{
  vertical-align: top;
}
.el-aside{
  background: #222d32;
  overflow: hidden;
}
.el-menu{
  border-right: 0;
  .el-menu-item, .el-submenu__title{
    height: 46px;
    line-height: 46px;
  }
  .el-menu-item.is-active{
    background: #1D262A !important;
  }
  .iconfont{
    font-size: 22px;
    font-weight: 500;
    color: #b8c7ce;
    margin-left: -6px;
  }
  .second-level{
    &.is-active>.el-submenu__title{
      background: #1D262A !important;
      position: relative;
      &:before{
        content: '';
        display: block;
        height: 100%;
        width: 3px;
        background: #3c8dbc;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &>.el-menu{
      border-bottom: 1px solid #444;
    }
  }
}
.el-breadcrumb{
  padding: 0 20px;
  line-height: 30px;
  & + .el-main{
    background: #ffffff;
    padding-top: 0;
  }
}
body>.el-tooltip__popper.is-dark{
  left: 60px !important;
}
.el-footer{
  padding: 0;
}
@media only screen and (max-width: 768px){
  .el-header{
    height: 100px !important;
  }
  .el-aside.collapsed{
    width: 0 !important;
  }
}