.center{
  background: url('../../assets/images/bg-login.jpg') 0 60% no-repeat;
  background-size: cover;
  min-height: calc(100vh - 36px);
}
.login-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 460px;
  // width: 50%;
  // min-width: 340px;
  // max-width: 500px;
  overflow: hidden;
  // margin: 20px;
  h1{
    background: rgba(0, 0, 0, 0.05);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 22px;
  }
  .login-form{
    width: 70%;
    margin: auto;
    padding: 25px 0;
    &>.white{
      margin-bottom: 10px;
    }

    .keep-password {
      margin-top: -6px;
    }
  }
  .white{
    color: #ffffff;
  }
  .prepend{
    width: 56px;
    display: block;
    text-align: center;
  }
  .width100{
    vertical-align: top;
  }
}