@font-face {
  font-family: "ywgk-iconfont"; /* Project id 2326772 */
  src: url('iconfont.woff2?t=1630489091630') format('woff2'),
       url('iconfont.woff?t=1630489091630') format('woff'),
       url('iconfont.ttf?t=1630489091630') format('truetype');
}

.ywgk-iconfont {
  font-family: "ywgk-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ywgk-icon-fpsms:before {
  content: "\e623";
}

.ywgk-icon-terminal-upgrade:before {
  content: "\e60b";
}

.ywgk-icon-appointment:before {
  content: "\e603";
}

.ywgk-icon-terminal-call:before {
  content: "\e609";
}

.ywgk-icon-otherorgs:before {
  content: "\e60a";
}

.ywgk-icon-zhiyin:before {
  content: "\e606";
}

.ywgk-icon-smsdata:before {
  content: "\e607";
}

.ywgk-icon-fpmanage:before {
  content: "\e608";
}

