<!DOCTYPE html>
<html style="width: 100px;height: 50px;">
<head>
  <meta charset="utf-8">
  <title>国科服务</title>
  <style>  
  body{
      height: 210px;
      width: 210px;
  }
    #content{
        font-size: 18px;
    }
    .p{
        color: red;
        text-align: center;
        margin-top: 10px;
    }
    b{
        margin-left: 50px;   
    }


</style>
</head>
<body>
    <div id="content">
        <p class="p">家属姓名：孙悟空</p>
        <p class="p">家属电话 <b >188123232</b>    1</p>
        <p >发送时间：2020-3-21</p>
    </div>
  <script>
        let con=document.getElementById("content")
        con.onclick=function (){
            alert(1)
            window.print()
        }
        // let tn = document.getElementById('content');

        // tn.onclick = function(e) {
        //     alert(11)
        //  Window.print()
        //     //点击事件
        // }
  
  </script>
</body>
</html>
